<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>DISPLAY_ACCESSRECORD</h1>

        <table border="3px">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Author</th>
            </tr>

            {% for AAR in ARO %}
            <tr>
                <td>{{AAR.name}}</td>

                <td>{{AAR.date}}</td>

                <td>{{AAR.author}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>