<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Butter Naan :</h1>
        <h2> Butter Naan with Butter chickenn Gravyy...</h2>
        <h2> Butter Naan with pepper chicken Gravyy...</h2>
        <h2> Butter Naan with chicken masala Gravyy...</h2>
        <a href="{% url 'Desserts:Brownie' %}">Want any Desserts</a><br>
    </center>
</body>
</html>